body {
    background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url('./login.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
